*{
    background-color: #edeeec;
}

.firstGrid{
    display: grid;
}

.mainImage{
    grid-row: 1;
    grid-column:1/span 3;
    height: auto;
    width: auto;
    min-width: 450px;
    min-height: 300px;
    max-width: 500px;
    max-height: 450px;
    margin-block-start: 50px;
    margin-inline-start: 20px;
}
.logoContainer{
    grid-row:1/span 2;
    grid-column: 5;
}
.mainLogo{
    position:relative;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-block-start:50px;
    margin-inline-start: 50px;
}
/* 
.welcomeBox{
    border-radius: 0px;
    color: black;
    width: 200px;
    height: 400px;
} */
.secondGrid{
    display: grid;
    grid-template-columns: 200px 200px 200px 100px;
    gap:20px
}