@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.editButtonDiv{ 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editContainer{
    background-color: white;
    padding-bottom: 15px;
}
.itemName{
    background-color: #514b43;
    color:white;
    width:100%;
    text-align: center;
    min-height:30px ;
    font-size: larger;
}
.priceValue{
    text-align: center;
    width:100%

}
.quantityValue{
    text-align: center;
    width:100%
}